:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(40, 20%, 96%);
    color:hsl(229, 6%, 66%) ;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
}

header{
    text-align: center;

}
header h2{
    font-size: 34px;
    font-weight: 200;
    color: var(--grey-500);
}
header h3{
    font-size: 34px;
    font-weight: 600;
    color: var(--grey-500);
}
header p{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:25px;
    margin-top: 60px;
}

.box{
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
    text-align: right;
    
}

.box-text{
    text-align: left;
    padding-bottom: 30px;
}
.box-1{
    border-top: 4px solid var(--cyan);
}
.box-2{
    border-top: 4px solid var(--red);
}
.box-3{
    border-top: 4px solid var(--orange);
}
.box-4{
    border-top: 4px solid var(--blue);
}

.box-text h5{
    font-size: 20px;
    color: var(--grey-500);
    margin-bottom: 10px;
}
.box-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.box-1,
.box-4{
    align-self: center;

}

@media only screen and 
(max-width:768px){
    .main{
        grid-template-columns: 1fr;
    }
}

@media only screen and 
(max-width:425px){
    body{
        font-size: 13px;
    }
    header h2{
        font-size: 20px;
    }
    header h3{
        font-size: 20px;
    }
    .box{
        padding: 20px;
    }
    .box-text{
        padding-bottom: 30px;
    }
}